<div class="acknowledgements" id="infra-sponsors">
      <div class="acknowledgements__container">
        <p>We would like to thank the following organizations for providing their services free of charge for use in the Servo project:</p>
        <ul class="inline-column">
          <li><a href="https://github.com/servo">Repositories and some CI infrastructure</a> are hosted by <a href="https://github.com/">GitHub</a>.</li>
          <li>The <a href="https://servo.zulipchat.com/">Chat tool</a> is provided by <a href="https://zulip.com/">Zulip</a>.</li>
          <li><a href="https://aws.amazon.com/opensource/">AWS Open Source</a> provides promotional credits to cover some of our infrastructure costs.</li>
        </ul>
    </div>
</div>

