<div class="acknowledgements container">
  <div class="inner-container">
    <h2 style="margin-top: 2em;">Acknowledgements</h2>

    <p>The Servo project is dependent on outside funding. We would like to thank our <a href="{{ '/#partners' | url }}">partnering organizations</a> that have recently invested in Servo and our <a href="{{ '/#sponsors' | url }}">sponsors</a> who have made donations to Servo through one of the <a href="{{ '/sponsorship/' | url }}">sponsorship tiers</a>.</p>

    <p>We are very grateful to all our patrons who contribute monetarily to support the project via <a href="https://opencollective.com/servo">Open Collective</a>, <a href="https://github.com/sponsors/servo">GitHub</a>, <a href="https://thanks.dev/">thanks.dev</a>, and <a href="https://benevity.com/">Benevity</a>.
    </p>

    <h3 style="margin-top: 1em;">Infrastructure Sponsors</h3>

    <p>We would like to thank the following organizations for providing their services free of charge for use in the Servo project:</p>

    <ul>
      <li>Repositories and some CI infrastructure (<a href="https://github.com/servo">https://github.com/servo/</a>) are hosted by <a href="https://github.com/">GitHub</a>.</li>
      <li>Chat tool (<a href="https://servo.zulipchat.com/">https://servo.zulipchat.com/</a>) is provided by <a href="https://zulip.com/">Zulip</a>.</li>
      <li><a href="https://aws.amazon.com/opensource/">AWS Open Source</a> is providing promotional credits to cover some of our infrastructure costs.</li>
    </ul>

  </div>
</div>
