<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body class="is-page">
    <main class="is-main">
      {% include "header.html" %}
          <aside class="menu box">
            {% for link in menu %}
              {% assign pagedir = page.url %}
              {% if link.url == pagedir %}
                {% if link.subpages %}
                  <ul class="menu-list">
                    {% for sublink in link.subpages %}
                    <li><a href="{{ sublink.url | url }}">{{ sublink.title }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
            {% endfor %}
          </aside>
          <div class="content container" id="{{ title }}">
            {{ content }}
          </div>
    </main>
    {% include "contact.html" %}
    <footer>
      {% include "footer.html" %}
    </footer>
  </body>
</html>
