<script type="text/javascript">
  window.onload = load_build_info;

  function load_build_info() {
      var url = "https://api.github.com/repos/servo/servo-nightly-builds/releases/latest";
      get_request(url, function (text) {
          var release = JSON.parse(text);
          var builds = [
            {% for download in downloads %}
              "{{ download.key }}",
            {% endfor %}
          ];

          for (const id of builds) {
            set_build_date(id, release.tag_name);
          }
      });
  }

  function set_build_date(id, build_date) {
      var el = document.getElementById(id);
      el.innerText = release.tag_name;
      el.title = release.tag_name;
  }

  function get_request(url, callback) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
          if (xhttp.readyState == XMLHttpRequest.DONE && xhttp.status == 200) {
              callback(xhttp.responseText);
          }
      };
      xhttp.open("GET", url, true);
      xhttp.send();
  }
</script>
