<div class="downloads">
  <ul>
  {% for download in downloads %}
    <li class="download-item">
      <a class="main-link" rel="nofollow" href="https://download.servo.org/{{download.href}}">
        {% if download.icon contains "/" %}
          <img src="{{ download.icon }}" alt="{{ download.name }} icon" />
        {% else %}
          <i class="fa-brands fa-{{ download.icon }}"></i>
        {% endif %}
        <h2>{{ download.name }}</h2>
      </a>
      <span id="date-{{download.key}}">?</span>
      <a rel="nofollow" role="button" class="button" href="https://download.servo.org/{{download.sha256}}">sha256</a>
    </li>
  {% endfor %}
  </ul>
</div>

<style>
  .downloads > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .download-item {
    width: 170px;
    height: 200px;
    flex: 0 0 170px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    justify-content: center;
  }

  .download-item > a > img {
    width: 50px;
    height: 50px;
    margin: auto;
  }

  .download-item > a > i {
    font-size: 2.5em;
    color: black;
  }

  .download-item > a > h2 {
    font-size: 1.2em;
    padding: 0;
  }

  .download-item > span {
    font-size: 80%;
  }

  .download-item > a.button {
    width: fit-content;
  }
</style>
