<div class="content">
  <div class="columns">
    <p>
      These pre-built nightly snapshots allow developers to try Servo and
      <a href="https://github.com/servo/servo/issues/new">report issues</a> without
      <a href="https://book.servo.org/building/building.html">building Servo locally</a>.
      <strong>Please don’t log into your bank with Servo just yet!</strong>
    </p>
    <div class="column">
      {% include "downloads-list.html" %}
      {% include "downloads-script.html" %}
    </div>
    <p>
        Note: A few web platform features required by modern web pages are not enabled
        by default. These can be enabled using the "Enable experimental web
        platform features" button in the toolbar (shown below) or, when launching from
        the command line, by passing the <code>--enable-experimental-web-platform-features</code>
        flag to the servo binary.
    </p>
    <img src="{{ '/img/enable-experimental-web-platform-features.png' | url}}" alt="Screenshot of Servo's minibrowser highlighting the 'Enable/Disable experimental web platform features' button" />

  </div>
</div>

