<section class="section">
  <div class="container">
    <div class="content">
      <h2 id="download">
        Downloads
        <a class="headline-hash" href="#download">
          <span class="icon hashlink">
            <i class="fas fa-link"></i>
          </span>
        </a>
      </h2>
      <p>
        These pre-built nightly snapshots allow developers to try Servo and
        <a href="https://github.com/servo/servo/issues/new">report issues</a>
        without building Servo locally. Please don’t log into your bank with
        Servo just yet! Now that we’ve released our first developer preview,
        we’ll be investing in formal security audits and improving our security
        practices using both existing libraries and Rust – more information
        coming soon!
      </p>
      <div class="downloads">
        {% for download in downloads %}
        <p>
          <div class="buttons has-addons">
            <a class="button is-primary" href="https://download.servo.org/{{download.href}}">{{download.name}}</a>
            <a class="button" href="https://download.servo.org/{{download.sha256}}">sha256</a>
          </div>
        </p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

