<div class="downloads">
  {% for download in downloads %}
  <p>
    <div class="buttons has-addons">
      <a rel="nofollow" role="button" class="button is-primary" href="https://download.servo.org/{{download.href}}" style="width: 20ch;">{{download.name}}</a>
      <span class="button is-static" id="date-{{download.key}}" style="width: 12ch;">?</span>
      <a rel="nofollow" role="button" class="button" href="https://download.servo.org/{{download.sha256}}">sha256</a>
    </div>
  </p>
  {% endfor %}
</div>
