<div class="container">
  <div class="content">
    <div class="columns">
      <div class="column">
        <p>
          These pre-built nightly snapshots allow developers to try Servo and
          <a href="https://github.com/servo/servo/issues/new">report issues</a> without
          <a href="https://github.com/servo/servo/blob/master/docs/HACKING_QUICKSTART.md">building Servo locally</a>.
          <strong>Please don’t log into your bank with Servo just yet!</strong>
          Now that we’ve released our first developer preview,
          we’ll be investing in formal security audits and improving our security
          practices using both existing libraries and Rust – more information
          coming soon!
        </p>
      </div>
      <div class="column">
        {% include "downloads-list.html" %}
        {% include "downloads-script.html" %}
      </div>
    </div>
  </div>
</div>
