<div class="footer">
  <div class="container">
    <div class="two-column inner-container">
      <div class="column">
        <div class="logo"><a href="https://linuxfoundation.eu"><img src="{{ site.logoLFEurope | url }}" alt="Linux Foundation Europe logo" width="250"></a></div>
        <p>&copy; {% currentYear %} {{ site.author }}</p>
        <p>Copyright &copy; Servo is a project of <a href="https://linuxfoundation.eu/">Linux Foundation Europe</a>.</p>
        <p>For website terms of use, trademark policy and other project policies please see <a href="https://lfprojects.org">https://lfprojects.org</a>.</p>
      </div>
      <div class="column code-of-conduct">
        <a href="{{ '/coc/' | url }}">Code of Conduct</a>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  $(() => {
    const burger = $(".navbar-burger");
    const menu = $(".navbar-menu");
    burger.click(() => {
      [burger, menu].forEach((el) => el.toggleClass('is-active'));
    });
  });
</script>
