<footer class="footer">
  <div class="container" style="text-align: center;">
    <a href="{{ '/coc/' | url }}">Code of Conduct</a> |
    Contact: <a href="mailto:info@servo.org">info@servo.org</a>,
    <a href="https://servo.zulipchat.com/">Zulip Chat</a>,
    <a href="https://github.com/servo/servo/discussions">GitHub Discussions</a>,
    <a href="https://floss.social/@servo">Mastodon</a>,
    <a href="https://twitter.com/ServoDev">Twitter</a>
  </div>
  <div class="container" style="text-align: center; font-size: 0.875em;">
    <p><a href="https://linuxfoundation.eu"><img src="{{ site.logoLFEurope | url }}" alt="Linux Foundation Europe logo" width="250" style="margin: 1em;"></a></p>
    <p>&copy; {% currentYear %} {{ site.author }}</p>
    <p>Copyright &copy; Servo is a project of <a href="https://linuxfoundation.eu/">Linux Foundation Europe</a>.</p>
    <p>For website terms of use, trademark policy and other project policies please see <a href="https://lfprojects.org">https://lfprojects.org</a>.</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  $(() => {
    const burger = $(".navbar-burger");
    const menu = $(".navbar-menu");
    burger.click(() => {
      [burger, menu].forEach((el) => el.toggleClass('is-active'));
    });
  });
</script>
