<footer class="footer">
  <div class="container">
    <p class="is-size-6 has-text-light has-text-weight-light">
      &copy; {% currentYear %} {{ site.author }}
    </p>
    <p>Copyright © Servo Project a Series of LF Projects, LLC. LF Projects, LLC is an affiliate of the <a href="https://www.linuxfoundation.org">Linux Foundation</a>.</p>
    <p>For website terms of use, trademark policy and other project policies please see <a href="https://lfprojects.org">https://lfprojects.org</a>.</p>
    <p><a href="https://www.linuxfoundation.org"><img src="{{ site.logoLF | url }}" alt="Linux Foundation logo" width="112"></a></p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  $(() => {
    const burger = $(".navbar-burger");
    const menu = $(".navbar-menu");
    burger.click(() => {
      [burger, menu].forEach((el) => el.toggleClass('is-active'));
    });
  });
</script>
