<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title == "Home" %}
  <title>{{ site.tagline }}</title>
  {% else %}
  <title>{{ title | escape }} - {{ site.tagline }}</title>
  {% endif %}
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="shortcut icon" href="{{ site.favicon | url }}">
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  <link rel="alternate" href="{{ '/blog/feed.xml' | url }}" title="Servo Blog" type="application/atom+xml">
</head>
