<section class="container hero is-primary is-bold is-medium">
  <div class="hero-body columns is-vcentered">
    <div class="column">
      <p class="title">
        {{ site.tagline }}
      </p>
      <p class="subtitle">
        Servo is an independent, modular, embeddable web rendering engine written in Rust
      </p>
      <hr>
      <div class="columns">
      {%- for post in collections.frontpageBlogPosts %}
        <div class="column">
          <div class="card" style="background: transparent;">
            <div class="card-content">
              <span class="tag is-light">{{ post.data.date | date: "%Y-%m-%d" }}</span>
              <p style="margin-top: 0.25em;"><big><strong><a href="{{ post.url | url }}">{{ post.data.title }}</a></strong></big></p>
              <p>{{ post.data.summary }}</p>
            </div>
          </div>
        </div>
      {%- endfor %}
      </div>
    </div>
    <div class="column">
      <iframe style="width: 100%; aspect-ratio: 560/315;" src="https://www.youtube.com/embed/epEQ-9VAY_4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</section>
