<section class="section" id="homeHero" aria-label="What is Servo">
  <div class="hero-body">
    <div class="container">
      <img class="hero-img" src="{{ site.logoPositive | url }}" alt="{{ title }}">
      <h1 class="title center-text">
        Servo aims to empower developers with a lightweight, high-performance alternative for embedding web technologies in applications.
      </h1>
      <div class="center-text cta-container">
        <a class="button--hero" href="/contributing/">Get Involved</a>
        <a class="button--hero" target="_blank" href="https://opencollective.com/servo">Donate</a>
      </div>
    </div>
    <div class="gradient-back">
      <img src="{{ '/img/home-servo-hero.png' | url }}" alt="" />
    </div>
  </div>
  <div class="container">
    <p class="subtitle center-text cta-text">
      Servo is a web browser rendering engine written in Rust, with WebGL and WebGPU support, and adaptable to desktop, mobile, and embedded applications.
    </p>
    <div class="features">
      <div class="section-feature center-text">
        <img src="{{ '/img/home-embeddable.png' | url }}" alt="" />
        <p class="subtitle green">Embeddable</p>
        <p>Servo provides a <strong>WebView API</strong> so other applications can use it to embed web content.</p>
      </div>
      <div class="section-feature center-text">
        <img src="{{ '/img/home-memory-safe.png' | url }}" alt="" />
        <p class="subtitle pink">Memory-safe</p>
        <p>Servo takes advantage of the memory safety features of the <strong>Rust programming language</strong>, resulting in fewer vulnerabilities related to memory and concurrency.</p>
      </div>
      <div class="section-feature center-text">
        <img src="{{ '/img/home-modular.png' | url }}" alt="" />
        <p class="subtitle orange">Modular</p>
        <p>Built with a modular architecture and powered by widely-used Rust crates, Servo makes it <strong>easier to customize and adapt</strong> a high-performance browser engine to your needs.</p>
      </div>
    </div>
    <div class="features">
      <div class="section-feature center-text">
        <img src="{{ '/img/home-parallel.png' | url }}" alt="" />
        <p class="subtitle yellow">Parallel</p>
        <p>Servo uses concurrency and parallelism for <strong>faster and more energy-efficient rendering of web content</strong> on multi-core devices.</p>
      </div>
      <div class="section-feature center-text">
        <img src="{{ '/img/home-multi-platform.png' | url }}" alt="" />
        <p class="subtitle purple">Cross platform</p>
        <p>Servo has <strong>multi-platform support</strong>, including Windows, macOS, Linux, Android, and OpenHarmony. In addition, Servo can be ported and adapted to <strong>embedded devices</strong>.</p>
      </div>
      <div class="section-feature center-text">
        <img src="{{ '/img/home-independent.png' | url }}" alt="" />
        <p class="subtitle mid-turquoise">Independent</p>
        <p>Servo is a project managed with <strong>open governance under Linux Foundation Europe</strong> through our Technical Steering Committee.</p>
      </div>
    </div>
  </div>
</section>
<section class="section container" aria-label="Latest posts from the Servo blog">
  <div class="blog">
    <div class="inner-container">
    <h2>Latest on the blog</h2>
    <div class="blog-grid">
        {%- for post in collections.frontpageBlogPosts %}
            <div class="card">
              <div class="card-content">
                <span class="tag">{{ post.data.date | date: "%Y-%m-%d" }}</span>
                <p class="post-title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></p>
                <p class="post-summary">{{ post.data.summary }}</p>
              </div>
            </div>
        {%- endfor %}
        <a class="archive-nav" href="/blog/">View older posts</a>
      </div>
    </div>
  </div>
</section>
<section id="acknowledgements" class="section container" aria-label="Partners and sponsors">
  <div class="inner-container acknowledgements">
    <h2>Acknowledgements</h2>
    <div class="acknowledgements__container">
      <p>The Servo project is dependent on outside funding. We would like to thank our <a href="{{ '/#partners' | url }}">partnering organizations</a> that have recently invested in Servo and our <a href="{{ '/#sponsors' | url }}">sponsors</a> who have made donations to Servo through one of the <a href="{{ '/sponsorship/' | url }}">sponsorship tiers</a>.</p>
      <p>We are very grateful to all our patrons who contribute monetarily to support the project via <a href="https://opencollective.com/servo">Open Collective</a>, <a href="https://github.com/sponsors/servo">GitHub</a>, <a href="https://thanks.dev/">thanks.dev</a>, and <a href="https://benevity.com/">Benevity</a>.
      </p>
    </div>
  </div>  
  {% include "sponsorship.html" %}
</section>

<style>

.acknowledgements {
  text-align: center;
}

.acknowledgements__container {
  width: 100%;
}

.acknowledgements__container p {
  margin: 0 auto;
  padding-bottom: 1.25rem;
}


</style>