<section class="container hero is-primary is-bold is-medium">
  <div class="hero-body columns">
    <div class="column">
      <img src="{{ '/img/screenshot-wikipedia.png' | url }}" alt="Screenshot from wikipedia page">
    </div>
    <div class="column">
      <p>
        Servo’s mission is to provide an independent, modular, embeddable web engine,
        which allows developers to deliver content and applications using web
        standards.
      </p>
      <br>
      <p>
        Servo is written in <a href="https://rust-lang.org">Rust</a>, and shares code with Mozilla
        Firefox and the wider Rust ecosystem. Since its creation in 2012, Servo has contributed to
        W3C/WHATWG web standards by reporting specification issues and submitting new
        cross-browser automated tests, and core team members have co-edited new
        standards that have been adopted by other browsers. As a result, the Servo
        project helps drive the entire web platform forward while building on a
        platform of reusable, modular technologies that implement web standards.
      </p>
    </div>
    <div class="column">
      <img src="{{ '/img/screenshot-servo.png' | url }}" alt="Screenshot of servo.org website">
    </div>
  </div>
</section>
