<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body class="is-page">
    <main class="is-main">
      {% include "header.html" %}
      {% include "hero.html" %}
      <section class="section">
        <div class="container">
          <div class="content">
            {{ content }}
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <div class="content">
            <h2 id="download">
              Downloads
              <a class="headline-hash" href="#download">
                <span class="icon hashlink">
                  <i class="fas fa-link"></i>
                </span>
              </a>
            </h2>
          </div>
        </div>
        {% include "downloads.html" %}
      </section>
    </main>
    {% include "footer.html" %}
  </body>
</html>

