<div class="sponsorship">
  <div class="inner-container">
    <div class="inner-container__logos">
      <h3 class="center-text">Partners</h3>

      {% assign partners_sorted = partners | sort_natural: "name" %}

      <ul id="partners" class="logos-home">
      {% for partner in partners_sorted %}
        <li>
          <a href="{{ partner.url }}">
            {% if partner.img %}
            <img src="{{ partner.img | url}}" alt="{{ partner.name }} logo" class="partner-img" />
            {% else %}
            {{ partner.name }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
      </ul>

    </div>

    {% assign platinum_sponsors = sponsors | where: "type", "platinum" | sort_natural: "name" %}
    {% assign gold_sponsors = sponsors | where: "type", "gold" | sort_natural: "name" %}
    {% assign silver_sponsors = sponsors | where: "type", "silver" | sort_natural: "name" %}
    {% assign bronze_sponsors = sponsors | where: "type", "bronze" | sort_natural: "name" %}

    <div id="sponsors">

    {% if platinum_sponsors.size > 0 %}
    <div class="inner-container__logos">
      <h3 class="center-text">Platinum Sponsors</h3>
        <ul class="logos-home">
        {% for sponsor in platinum_sponsors %}
          <li class="sponsor-{{ sponsor.type }}">
            {% if sponsor.url %}<a href="{{ sponsor.url }}">{% endif %}
              {% if sponsor.img %}
              <img src="{{ sponsor.img | url}}" alt="{{ sponsor.name }} logo" class="sponsor-img" />
              {% else %}
              {{ sponsor.name }}
              {% endif %}
            {% if sponsor.url %}</a>{% endif %}
          </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}



    {% if gold_sponsors.size > 0 %}
    <div class="inner-container__logos">
      <h3 class="center-text">Gold Sponsors</h3>

      <ul class="logos-home">
      {% for sponsor in gold_sponsors %}
        <li class="sponsor-{{ sponsor.type }}">
          {% if sponsor.url %}<a href="{{ sponsor.url }}">{% endif %}
            {% if sponsor.img %}
            <img src="{{ sponsor.img | url}}" alt="{{ sponsor.name }} logo" class="sponsor-img" />
            {% else %}
            {{ sponsor.name }}
            {% endif %}
          {% if sponsor.url %}</a>{% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}



    {% if silver_sponsors.size > 0 %}
    <div class="inner-container__logos">
      <h3 class="center-text">Silver Sponsors</h3>

      <ul class="logos-home">
      {% for sponsor in silver_sponsors %}
        <li class="sponsor-{{ sponsor.type }}">
          {% if sponsor.url %}<a href="{{ sponsor.url }}">{% endif %}
            {% if sponsor.img %}
            <img src="{{ sponsor.img | url}}" alt="{{ sponsor.name }} logo" class="sponsor-img" />
            {% else %}
            {{ sponsor.name }}
            {% endif %}
          {% if sponsor.url %}</a>{% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}


    {% if bronze_sponsors.size > 0 %}
    <div class="inner-container__logos">
      <h3 class="center-text">Bronze Sponsors</h3>

      <ul class="logos-home">
      {% for sponsor in bronze_sponsors %}
        <li class="sponsor-{{ sponsor.type }}">
          {% if sponsor.url %}<a href="{{ sponsor.url }}">{% endif %}
            {% if sponsor.img %}
            <img src="{{ sponsor.img | url}}" alt="{{ sponsor.name }} logo" class="sponsor-img" />
            {% else %}
            {{ sponsor.name }}
            {% endif %}
          {% if sponsor.url %}</a>{% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    </div>

<div class="acknowledgements">
    <div class="acknowledgements__container">
        <p>We would like to thank <a href="https://github.com/">GitHub</a>, <a href="https://zulip.com/">Zulip</a>, and <a href="https://aws.amazon.com/opensource/">AWS Open Source</a> for providing <a href="{{ '/sponsorship/#infrastructure-sponsors' | url }}">their services</a> free of charge for use in the Servo project.</p>
        <p>For information about how to sponsor the project, visit <a href="{{ '/sponsorship/' | url }}">the sponsorship page</a>.</p>
      </div>
</div>


  </div>
</div>

<style>

.logos-home {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-width: 64rem;
  align-items: center;
  justify-content: center;
}

.partner-img, .sponsor-img {
  max-height: 15rem;
  margin-inline: auto;
  padding: 3.25rem 2rem;
}
.sponsor-gold .sponsor-img {
  max-height: 11rem;
  padding: 2.25rem 1.5rem;
}
.sponsor-silver .sponsor-img {
  max-height: 7rem;
  padding: 1.75rem 1rem;
}
.sponsor-bronze .sponsor-img {
  max-height: 5rem;
  padding: 1.25rem 0.5rem;
}

.logos-home > li {
  flex: 0 0 50%;
  text-align: center;
  font-size: var(--step-3);
  font-weight: bold;
}
.logos-home > li.sponsor-gold {
  flex: 0 0 33%;
  font-size: var(--step-2);
}
.logos-home > li.sponsor-silver {
  flex: 0 0 25%;
  font-size: var(--step-1);
}
.logos-home > li.sponsor-bronze {
  flex: 0 0 25%;
  font-size: var(--step-0);
}

@media (max-width: 720px) {
  .partner-img, .sponsor-img {
    max-height: 9rem;
    padding: 2rem 1rem;
  }
  .sponsor-gold .sponsor-img {
    max-height: 7rem;
    padding: 1.5rem 0.75rem;
  }
  .sponsor-silver .sponsor-img {
    max-height: 5rem;
    padding: 1rem 0.5rem;
  }
  .sponsor-bronze .sponsor-img {
    max-height: 3rem;
    padding: 0.5rem 0.25rem;
  }

  .logos-home > li {
    flex: 0 0 90%;
  }
  .logos-home > li.sponsor-gold {
    flex: 0 0 50%;
  }

  .logos-home > li:first-child {
    padding-top: 1.25rem;
  }
}

.inner-container__logos {
  border: 1px solid var(--midturquoise);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
  border-radius: 32px;
}

.inner-container__logos h3 {
  border-bottom: 1px solid var(--midturquoise);
  padding-top: var(--12px);
  padding-bottom: var(--12px);
  font-size: var(--step-1);
}

</style>
