/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600,700|Fira+Mono:300,400,600,700|Fire+Sans:100,200,300,400,500,600,700");

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #121619;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Fira Sans', sans-serif;
$headingFont: 'Fira Sans', sans-serif;
$codeFont: 'Fira Mono',monospace;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: capitalize;
$headingFontWeight: 600;
$linkColor: #1191E8;
$linkColorHover: #42BF64;
$selectionBackgroundColor: rgba( $linkColor, 0.75 );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .slide-background {
  background-image: url("/img/servo-color-negative-no-container.svg");
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: 5% 95%;
}
.reveal .slide-background::after {
  display: block;
  content: "";
  width: .5%;
  background: linear-gradient(180deg, #42be65 15%, #009d9a 25%, #009d9a 55%, #1192e8 65%);
  background-repeat-x: no-repeat;
  position: absolute;
  top: 4%;
  bottom: 4%;
  left: 2%;
}
.reveal .slide-background.cover {
  background-image: url("/img/servo-color-negative-no-container.svg");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 5% 90%;
}
.reveal .slide-background.cover > .slide-background-content {
  background-image: url("/img/lf-horizontal-white.svg");
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: 5% 95%;
}
.reveal .slide-background.last {
  background-image: url("/img/servo-color-negative-no-container.svg");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50% 80%;
}
.reveal .slide-background.last > .slide-background-content {
  background-image: url("/img/lf-horizontal-white.svg");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 50% 90%;
}

.reveal section.cover > hr:nth-child(1),
.reveal section.cover > p:nth-child(2),
.reveal section.cover > hr:nth-child(3) {
  display: none;
}

.reveal blockquote::after {
  display: block;
  content: "";
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  bottom: 0;
  right: 0;
  background-image: url("/img/servo-symbol-color-no-container.svg");
  background-repeat: no-repeat;
  background-size: 4em;
}

html.print-pdf .reveal .slides section {
  padding-left: 1em !important;
}

