{{ $lang := site.LanguageCode }}
<!DOCTYPE html>
<html{{ with $lang }} lang="{{ . }}"{{ end }}>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ block "title" . }}
        {{ site.Title }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
    {{ partial "favicon.html" . }}
  </head>

    <body class="is-page">
    <main class="is-main">
      {{ partial "navbar.html" . }}
      {{ block "main" . }}
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "javascript.html" }}
  </body>
</html>
