---json
{
  "permalink": "/blog/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Servo Blog",
    "subtitle": "All the entries in the Servo blog.",
    "language": "en",
    "url": "https://servo.org",
    "author": {
      "name": "Servo Team",
      "email": "info@servo.org"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xml:base="{{ metadata.url }}" xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.url + permalink }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.recentBlogPosts %}
  {%- set absolutePostUrl = metadata.url + post.url | url %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>