{{ with site.Copyright }}
{{ $year := now.Year }}
<footer class="footer">
  <div class="container">
    <p class="is-size-6 has-text-light has-text-weight-light">
      &copy; {{ $year }} {{ . }}
    </p>
    <p>
      Copyright © Servo Project a Series of LF Projects, LLC. LF Projects, LLC is an affiliate of the <a href="https://www.linuxfoundation.org">Linux Foundation</a>.
    </p>
    <p>
      For website terms of use, trademark policy and other project policies please see <a href="https://lfprojects.org">https://lfprojects.org</a>.    </p>
    <p>
      <a href="https://www.linuxfoundation.org"><img src="/img/lf-logo.png" width="112"></a>
    </p>
  </div>
</footer>
{{ end }}
