name: build-pr

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Node modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            npm-${{ runner.os }}-
            npm-
      - name: Install Node modules
        run: npm install
      - name: Sass
        run: npm run sass
      - name: Eleventy
        run: |
          npx eleventy \
            --output='_site/${{ github.head_ref }}' \
            --pathprefix='/${{ github.head_ref }}/'
          LC_TIME=C date > '_site/${{ github.head_ref }}/.stamp'
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
          keep_files: true
      - name: Add deploy link
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            Preview link https://servo.org/${{ github.head_ref }}/
